body{
    margin: 0;
    padding: 0;

}

ul{
    list-style: none;
    text-align: center;
}
a{
    text-decoration: none;
    color: #000DFF;
    font-weight:bold;
}
li{
    text-align: center;
    display: inline;
    padding: 10px;
    border-color: #000DFF;
}



